<!DOCTYPE html>
<html class>
  <head>
    <meta charset="utf-8">
    <title>Insert Here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale-1">
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="description">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Insert Here">
    <meta property="og:description">
    <link rel="stylesheet" media="screen and (min-width: 400px) and (max-width: 700px)" type="text/css">
  </head>
  <body style>
    <nav id="main-nav" role="navigation">
      ::before
      <div class="container">
        ::before
        <button type="button" class="navbar-header navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          ::before
          <span class="only-sr">Toggle navigation</span>
          <span class="icon-line"></span>
          <span class="icon-line"></span>
          <span class="icon-line"></span>
          ::after
        </button>
        <div class="collapse navbar-collapse nav-menu" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li><a href="/">Insert Here</a></li>
            <li><a href="#" title="Many tags Here"></a></li>
            <li><a href="#" title="Hmm?"></a></li>
          </ul>
        </div>
        ::after
      </div>
      <!--container-->
      ::after
    </nav>
    <div class="clearfix">
      ::before
      ::after
    </div>
    <div class="container">
      ::before
      <div class="content">
        <!--title-->
        <div class="page-header">
          <h1><i>::before</i>" Tagaries"</h1>
        </div>
        <div class="row-all"></div>
        <!--row-->
      </div>
      ::after
    </div>
    <div class="container-narrow">
      <footer></footer>
    </div>
    <!--container-narrow-->
    <script type="text/javascript"></script>
    <a id="gotop" href="#" style="inline"></a>
  </body>
</html>
