<!DOCTYPE html>
<html class>
  <head>
    <meta charset="utf-8">
    <title>Insert Here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale-1">
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="description">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Insert Here">
    <meta property="og:description">
    <link rel="stylesheet" media="screen and (min-width: 400px) and (max-width: 700px)" type="text/css">
  </head>
  <body style>
    <div class="clearfix">
      ::before
      ::after
    </div>
    <div class="container"></div>
    <div class="container-narrow">
      <footer></footer>
    </div>
    <!--container-narrow-->
    <script type="text/javascript"></script>
  </body>
</html>
